---
import HomePage from '@/components/homepage/HomePage';
import Layout from '../layouts/Layout.astro';
import HeroPage from '@/components/homepage/components/HeroPage';
import FeaturedProjects from '@/components/homepage/components/FeaturedProjects';
import SkillsProject from '@/components/homepage/components/SkillsProject';
import BlogPosts from '@/components/homepage/components/BlogPosts';

const projects = [
    { 
      id: 1, 
      title: "Roots Africa PLatform", 
      description: "Comprehensive platform for seamless, end-to-end experience for users, from planning investments to managing properties, all within a single system.", 
      technologies: ["Nextjs", "AWS", "Python", "Zustand"],
      type: "web",
      link: "https://app.rootsafrica.co/"
    },
    { 
      id: 2, 
      title: "Techihub", 
      description: "Techihub is a digital tech community connecting top talent with leading companies across Africa and beyond to be at the frontier of creating innovative solutions for the world.", 
      technologies: ["React Native", "Firebase", "TensorFlow"],
      type: "web",
      link: "https://www.techihub.io"
    },
    { 
      id: 3, 
      title: "Ai Google Drive Clone", 
      description: "An AI-powered Google Drive clone offering advanced image management through Cloudinary, including restoration, enhancement, cropping, and filters for square, landscape, and portrait orientations. Users can upload images from local devices or online platforms, save copies, create collages, and enjoy real-time updates for seamless interactions within the app.", 
      technologies: ["Nextjs", "Tanstack query", "Cloudinary", "Next Cloudinary"],
      type: "web",
      link: "https://cloud-drive-psi.vercel.app/"
    },
];


const blogPosts = [
  {
    id: 1,
    title: 'Changelog for 2024',
    description: 'Explore the latest updates and enhancements in our 2024 changelog. Discover new features and improve...',
    author: 'Vitalis Mutwiri',
    image: 'https://pro.aceternity.com/_next/image?url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1696429175928-793a1cdef1d3%3Fq%3D80%26w%3D3000%26auto%3Dformat%26fit%3Dcrop%26ixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%253D%253D&w=828&q=75'
  },
  {
    id: 2,
    title: 'Understanding React Hooks',
    description: 'A comprehensive guide to understanding and using React Hooks in your projects.',
    author: 'Vitalis Mutwiri',
    image: 'https://pro.aceternity.com/_next/image?url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1560958089-b8a1929cea89%3Fq%3D80%26w%3D3542%26auto%3Dformat%26fit%3Dcrop%26ixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%253D%253D&w=828&q=75'
  },
  {
    id: 3,
    title: 'CSS Grid Layout',
    description: 'Learn how to create complex layouts easily with CSS Grid.',
    author: 'Vitalis Mutwiri',
    image: 'https://pro.aceternity.com/_next/image?url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1535223289827-42f1e9919769%3Fq%3D80%26w%3D3212%26auto%3Dformat%26fit%3Dcrop%26ixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%253D%253D&w=828&q=75'
  }
];

	const skills = ["React", "Node.js", "Python", "AWS", "GraphQL", "TypeScript", "TanStack Query", "Google Cloud", "Python", "Data science", "Project management", "Agile Methodologies", "Idea Prototyping", "Project Research", "Idea Validation"];

---

<Layout title="Vitalis">
	<main class=" bg-[#201d1b] w-full overflow-hidden text-[#ecc7bc]">
		<div >
			<HeroPage client:load />
		</div>
		<div class="my_container ">
			<FeaturedProjects client:load projects={projects} />						 
		</div>
		<div >
			<BlogPosts blogPosts={blogPosts} client:load />
		</div>
		<div >
			<SkillsProject skills={skills} client:load />
		</div>
	</main>
</Layout>
<style>
	html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
	}

	body {
		overflow-y: visible;
		position: relative;
		height: unset;
	}
	html, body {
		overflow-x: hidden;
		margin: 0;
	}

	.my_container {
		width: 400%;
		height: 100vh;
		display: flex;
		flex-wrap: nowrap;
	}
</style>
<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script is:inline>
	gsap.registerPlugin(ScrollTrigger);

	let sections = gsap.utils.toArray(".panel");

	gsap.to(sections, {
		xPercent: -100 * (sections.length - 1),
		ease: "none",
		scrollTrigger: {
			trigger: ".my_container",
			pin: true,
			scrub: 1,
			snap: 1 / (sections.length - 1),
			end: () => "+=" + document.querySelector(".my_container").offsetWidth
		}
	});


</script>