---
import HomePage from '@/components/homepage/HomePage';
import Layout from '../layouts/Layout.astro';
import HeroPage from '@/components/homepage/components/HeroPage';
import FeaturedProjects from '@/components/homepage/components/FeaturedProjects';
import SkillsProject from '@/components/homepage/components/SkillsProject';
import BlogPosts from '@/components/homepage/components/BlogPosts';

const projects = [
{ 
      id: 1, 
      title: "Roots Africa PLatform", 
      description: "Comprehensive platform for seamless, end-to-end experience for users, from planning investments to managing properties, all within a single system.", 
      technologies: ["Nextjs", "AWS", "Python", "Zustand"],
      type: "web",
      link: "https://app.rootsafrica.co/"
    },
    { 
      id: 2, 
      title: "Techihub", 
      description: "Techihub is a digital tech community connecting top talent with leading companies across Africa and beyond to be at the frontier of creating innovative solutions for the world.", 
      technologies: ["React Native", "Firebase", "TensorFlow"],
      type: "web",
      link: "https://www.techihub.io"
    },
    { 
      id: 3, 
      title: "Ai Google Drive Clone", 
      description: "An AI-powered Google Drive clone offering advanced image management through Cloudinary, including restoration, enhancement, cropping, and filters for square, landscape, and portrait orientations. Users can upload images from local devices or online platforms, save copies, create collages, and enjoy real-time updates for seamless interactions within the app.", 
      technologies: ["Nextjs", "Tanstack query", "Cloudinary", "Next Cloudinary"],
      type: "web",
      link: "https://cloud-drive-psi.vercel.app/"
    },
    { 
      id: 4, 
      title: "Roots Africa Website", 
      description: "ROOTS AFRICA simplifies real estate investment for Africans in the diaspora, offering end-to-end solutions from planning to property management. With proven returns of 20% and dedicated local expertise, we're your trusted partner for investing in Africa's growing real estate market.", 
      technologies: ["Astro", "Sanity", "React"],
      type: "web",
      link: "https://rootsafrica.co/"
    },
    { 
      id: 5, 
      title: "Shukran", 
      description: "Shukran is a digital tipping platform that enables seamless gratuity payments to service workers across 135 currencies. Whether through M-PESA or card payments, users can easily tip individuals or teams via QR codes or phone numbers, ensuring service workers receive the recognition they deserve.", 
      technologies: ["Astro", "Sanity", "React", "motion"],
      type: "web",
      link: "https://shukran.co/"
    },
    { 
      id: 6, 
      title: "Elevate HR", 
      description: "ElevateHR is a comprehensive payroll and HR management platform built for African businesses. Combining intuitive software with professional outsourcing services, we help HR teams automate payroll processing, ensure compliance, and manage employee benefits with local expertise and exceptional support.", 
      technologies: ["Astro", "Sanity", "React", "motion"],
      type: "web",
      link: "https://elevatehr.co/"
    },
];



	const skills = ["React", "Node.js", "Python", "AWS", "GraphQL", "TypeScript", "TanStack Query", "Google Cloud", "Python", "Data science", "Project management", "Agile Methodologies", "Idea Prototyping", "Project Research", "Idea Validation"];

---

<Layout title="Vitalis">
	<main class=" bg-[#201d1b] w-full overflow-hidden text-[#ecc7bc]">
		<div >
			<HeroPage client:load />
		</div>
		<div class="my_container ">
			<FeaturedProjects client:load projects={projects} />						 
		</div>
		<div >
			<BlogPosts client:load />
		</div>
		<div >
			<SkillsProject skills={skills} client:load />
		</div>
	</main>
</Layout>
<style>
	html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
	}

	body {
		overflow-y: visible;
		position: relative;
		height: unset;
	}
	html, body {
		overflow-x: hidden;
		margin: 0;
	}

	.my_container {
		width: 400%;
		height: 100vh;
		display: flex;
		flex-wrap: nowrap;
	}
</style>
<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script is:inline>
	gsap.registerPlugin(ScrollTrigger);

	let sections = gsap.utils.toArray(".panel");

	gsap.to(sections, {
		xPercent: -100 * (sections.length - 1),
		ease: "none",
		scrollTrigger: {
			trigger: ".my_container",
			pin: true,
			scrub: 1,
			snap: 1 / (sections.length - 1),
			end: () => "+=" + document.querySelector(".my_container").offsetWidth
		}
	});


</script>