---
import UploadBlog from "@/components/editor/EditorHomepage/UploadBlog";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="vitalis">
  <main class="bg-primary text-white h-full">
    <UploadBlog  client:load/>
  </main>
  
</Layout>